body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

#roadmap {
    width: 90%;
    min-height: 100vh;
    height: auto;
}

#roadHead {
    background-color: hsl(0, 0%, 73%);
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

#roadHead h1{
    font-size: 40px;
    margin-bottom: 0;
}

.roadHeadGray{
    color: gray;
    font-size: 20px;
}

.roadHeadRed{
    color: red;
    font-size: 20px;
}

.box{
    background-color: rgba(172, 41, 41, 0.301);
    color: white;
    padding: 10px;
    border-left: 3px solid red;
}

hr{
    color: re;
}

.roadIntro{
    color: white;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    padding: 20px;
    margin: 10px 0;
}

.roadIntro h1, .roadProgress h1, .roadPower h1{
    color: hsl(240, 93%, 73%);
}

.roadProgress{
    color: white;
    padding: 20px;
    margin: 10px 0;
    border-bottom:2px solid red;
}

.grid{
    background-color: hsl(0, 0%, 20%);
    border: 1px solid hsla(0, 0%, 69%, 0.493);
    padding: 10px;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.grid p{
    color: rgb(211, 211, 211);
}

#liveNow{
    background-color: rgb(69, 202, 69);
    color: black;
    width: 75px;
    font-weight: bold;
    padding: 2px;
}

.grid .progressLink{
    color: white;
}

.progressRight{
    border-left: 1px solid hsla(0, 0%, 69%, 0.493);
    padding-left: 10px;
}

#qrCode{
    width: 150px;
    height: auto;
}

.roadPower{
    color: white;
}

.roadPower .box{
    background-color: hsla(240, 100%, 50%, 0.356);
    color: white;
    padding: 10px;
    border-left: 3px solid hsl(240, 67%, 63%);
    border-top: 1px solid hsl(240, 67%, 63%);
    border-bottom: 1px solid hsl(240, 67%, 63%);
    margin: 50px 0;
}

#roadJourney h2{
    color: hsl(0, 63%, 48%);
}

#roadJourney{
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}

#roadJourney ol{
  list-style: none;
  counter-reset: item;
  padding-left: 0;
}

#roadJourney ol li {
  counter-increment: item;
  display: flex;
  align-items: center;
  border: 1px solid hsla(0, 2%, 75%, 0.363);
}

#roadJourney ol li::before {
  content: counter(item);
  background-color: hsl(0, 63%, 48%);
  color: black;
  font-weight: bold;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

#roadJourney ol li {
  color: white;
}

#roadJourney ol li:nth-child(even){
    background-color: hsla(0, 1%, 36%, 0.397);
}

.phaseIntro h1{
    background-color: hsl(0, 0%, 73%);
    width: 100%;
    padding: 15px 0 15px 15px;
}

.phaseIntro p{
    color: white;
    margin: 30px 0;
}

.phase{
    margin: 50px 0;
}

.phase p{
    color: white;
}

.phaseHead{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.phaseHead .phaseLeft{
    text-align: center;
}

.phase1 .phaseHead .phaseLeft{
    background-color: rgb(166, 167, 255);
    text-align: center;
}

.phaseHead .phaseLeft h3{
    font-weight: lighter;
    color: hsl(0, 0%, 25%);
}

.phase1 .phaseHead .phaseRight{
    background-color: rgba(132, 134, 245, 0.336);
    padding-left: 30px;
    color: rgb(166, 167, 255);
}

.phaseHead .phaseRight span{
    color: gray;
}

.phaseDetail h2{
    color: hsl(0, 63%, 48%);
}

.grid .phaseLeft h2{
    color: white;
}

.grid .phaseRight{
    border-left: 1px solid gray;
    padding-left: 10px;
}

.grid .phaseRight h2{
    color: white;
}

.grid .phaseRight p{
    color: rgb(211, 211, 211);
}

.phase .grid .highlight{
    color: black;
    width: 150px;
    font-weight: bold;
    padding: 2px;
}

.phase1 .highlight{
    background-color: rgb(166, 167, 255);
}

.phase ul{
    color: white;
}

.phase ul li{
    padding: 15px 10px;
}

.phase2 .phaseHead .phaseLeft{
    background-color: hsl(0, 63%, 48%);
    text-align: center;
}

.phase2 .phaseHead .phaseRight{
    background-color: hsla(0, 63%, 48%, 0.247);
    padding-left: 30px;
    color: hsl(0, 63%, 48%);
}

.phase2 .highlight{
    background-color: hsl(0, 63%, 48%);
}

.phase3 .phaseHead .phaseLeft{
    background-color: hsl(120, 64%, 71%);
    text-align: center;
}

.phase3 .phaseHead .phaseRight{
    background-color: hsla(120, 100%, 25%, 0.274);
    padding-left: 30px;
    color: hsl(120, 64%, 71%);
}

.phase3 .highlight{
    background-color: hsl(120, 64%, 71%);
}

.phase4 .phaseHead .phaseLeft{
    background-color: hsl(300, 52%, 63%);
    text-align: center;
}

.phase4 .phaseHead .phaseRight{
    background-color: hsla(300, 100%, 25%, 0.281);
    padding-left: 30px;
    color: hsl(300, 52%, 63%);
}

.phase4 .highlight{
    background-color: hsl(300, 52%, 63%);
}

.phase4 .grid .highlight{
    color: black;
    width: 70px;
    font-weight: bold;
    padding: 2px;
}

#roadSummary{
    color: white;
    padding-bottom: 50px;
    border-bottom: 1px solid red;
}

.sumHead{
    background-color: hsl(0, 0%, 73%);
    width: 100%;
    padding: 15px 0 15px 20px;
    color: black;
}

.sumGrid .head{
    background-color: hsl(0, 0%, 73%);
    color: black;
}

.sumContent{
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    border: 1px solid rgba(128, 128, 128, 0.267);
}

.sumContent h3{
    padding-right:  20px;
}

.sumGrid .even{
    background-color: hsla(240, 100%, 77%, 0.192);
}

#roadPromise{
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid red;
}

.promiseHead{
    background-color: hsl(0, 71%, 56%);
    width: 100%;
    padding: 15px 0 15px 20px;
    color: black;
}

.promiseIntro p{
    color: white;
}

.promise{
    display: grid;
    grid-template-columns: 1fr 30fr;
    padding: 0 10px;
    margin: 20px;
}

.promise h1{
    text-align: center;
    margin: 0;  
    padding-top: 30px;
}

.promisetext{
    padding-left: 20px;
}

.promisetext h2{
    margin-bottom: 0;
}

.promisetext p{
    color: white;
}

.promise1 h1, .promise4 h1{
    background-color: rgb(166, 167, 255);
}

.promise1 .promisetext, .promise4 .promisetext{
    background-color: rgba(132, 134, 245, 0.336);
}

.promise1 .promisetext h2, .promise4 .promisetext h2{
    color: rgb(166, 167, 255);
}

.promise2 h1, .promise5 h1{
    background-color: hsl(0, 71%, 56%);
}

.promise2 .promisetext, .promise5 .promisetext{
    background-color: hsla(0, 63%, 48%, 0.247);
}

.promise2 .promisetext h2, .promise5 .promisetext h2{
    color: hsl(0, 71%, 56%);
}

.promise3 h1, .promise6 h1{
    background-color: hsl(120, 64%, 71%);
}

.promise3 .promisetext, .promise6 .promisetext{
    background-color: hsla(120, 100%, 25%, 0.274);
}

.promise3 .promisetext h2, .promise6 .promisetext h2{
    color: hsl(120, 64%, 71%);
}

#roadHelp{
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid red;
}

.helpIntro h1{
    color: rgb(166, 167, 255);
}

.helpIntro p{
    color: white;
}

.help{
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.help .helpLeft, .help .helpRight{
    padding-left: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(128, 128, 128, 0.267);
}

.help p{
    color: white;
}

.help1 .helpLeft{
    background-color: rgba(132, 134, 245, 0.336);
}

.help1 .helpLeft h1{
    color: rgb(166, 167, 255);
}

.help1 .helpRight{
    background-color: hsla(0, 63%, 48%, 0.247);
    margin-left: 20px;
}

.help1 .helpRight h1{
    color: hsl(0, 71%, 56%);
}

.help2 .helpLeft{
    background-color: hsla(120, 100%, 25%, 0.274);
}

.help2 .helpLeft h1{
    color: hsl(120, 64%, 71%);
}

.help2 .helpRight{
    background-color: hsla(300, 100%, 25%, 0.281);
    margin-left: 20px;
}

.help2 .helpRight h1{
    color: hsl(300, 52%, 63%);
}

#roadEnd h2{
    margin: 30px 0;
    color: hsl(0, 71%, 56%);
    text-align: center;
}

#roadEnd p{
    text-align: center;
    color: gray;
}

@media (max-width: 768px) {
    body{
        font-size: small;
    }
}
@media (max-width: 480px) {
    body{
        font-size: small;
    }
}
